body {
  color: #FFF;
  background-color: #333;
}
.container-fluid {
  /*background-color: #000;*/
}
/* temperature*/
.temp {
  font-size: 5em;
}
.temp-low {
  background-color: #4573D5;
  color: #FFF;
}
.temp-inrange {
  background-color: #5cb85c;
  color: #FFF;
}
.temp-high {
  background-color: #d9534f;
  color: #FFF;
}
/*humidity*/
.humidity {
  font-size: 5em;
}
.humidity-low {
  background-color: #4573D5;
  color: #FFF;
}
.humidity-inrange {
  background-color: #5cb85c;
  color: #FFF;
}
.humidity-high {
  background-color: #d9534f;
  color: #FFF;
}
.devices {
  background-color: #FFF;
  color: #999;
  font-size: 1.5em;
}
.active,
.inactive {
  font-size: 40px;
  cursor: pointer;
}
i.active {
  color: #5cb85c;
}
i.inactive {
  color: #d9534f;
}
.widgetPadding {
  margin: 10px;
  padding: 10px;
}