<div class="container">
    <div class="row">
        <div class="col-md-4 temp temp-high">
            <div class="row">
                Current Temperature:
            </div>
            <div class="col-md-12"><span>{{temp}}</span></div>
        </div>
        <div class="col-md-4 humidity humidity-inrange">
            <div class="row">
                Current Humidity:
                <div class="col-md-12"><span>{{humidity}}</span></div>
            </div>
        </div>
        <div class="col-md-4 devices">
            <div class="row">Devices:</div>
            <div class="row">
                <div>Lights:</div>
                <div class="col-md-6">
                    Top Lights
                    <div>
                        <i class="fa fa-toggle-on active" ng-if="statusTopLights == true" ng-click="changeTopLightStatus();"></i>
                        <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="statusTopLights == false" ng-click="changeTopLightStatus();"></i>
                    </div>
                    <!--<pre>{{ status }}</pre>-->
                </div>
                <div class="col-md-6">
                    Bottom Lights
                    <div>
                        <i class="fa fa-toggle-on active" ng-if="statusBottomLights == true" ng-click="changeBottomLightStatus();"></i>
                        <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="statusBottomLights == false" ng-click="changeBottomLightStatus();"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>Fans:</div>
                <div class="col-md-6">
                    Top Fans
                    <div>
                        <i class="fa fa-toggle-on active" ng-if="statusTopFan == true" ng-click="changeTopFanStatus();"></i>
                        <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="statusTopFan == false" ng-click="changeTopFanStatus();"></i>
                    </div>
                </div>
                <div class="col-md-6">
                    Bottom Fans
                    <div>
                        <i class="fa fa-toggle-on active" ng-if="statusBottomFan == true" ng-click="changeBottomFanStatus();"></i>
                        <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="statusBottomFan == false" ng-click="changeBottomFanStatus();"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>