<div class="container">
    <div class="row">
        <div class="col-md-12"><h1>Settings</h1></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div>Top Light Schedule</div>
            <div>
                <label>
                    <input type="radio" id="q128" name="TopLightsSchedule" value="0" /> 18/6
                </label>
                <label>
                    <input type="radio" id="q129" name="TopLightsSchedule" checked="checked" value="1" /> 24/0
                </label>
                <label>
                    <input type="radio" id="q130" name="TopLightsSchedule" value="2" /> 12/12
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div>Bottom Light Schedule</div>
            <div>
                <label>
                    <input type="radio" id="q128" name="BottomLightsSchedule" value="0" /> 18/6
                </label>
                <label>
                    <input type="radio" id="q129" name="BottomLightsSchedule" checked="checked" value="1" /> 24/0
                </label>
                <label>
                    <input type="radio" id="q130" name="BottomLightsSchedule" value="2" /> 12/12
                </label>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <button class="btn btn-default">Update Settings</button>

    </div>
</div>